.player-hand {
  display: flex;
  position: relative;

  & > * {
    margin-right: 1rem;
  }

  & > .draggable-card {
    &:hover {
      & ~ .draggable-card {
        transform: translateX(15%);
      }
    }
  }
}
